html {
    font-family: 'Roboto', sans-serif;
    background-color: #c1f2ff;
  }

body {
    width: 800px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
  }

h1 {
    font-size: 30px;
    text-align: center;
   }

p {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
  }

  img {
      border: 3px solid black;
      display: block;
      width: 60%;
      height: 60%;
      margin-left: auto;
      margin-right: auto;
  }

